### Extract and save the Data using Yfinanace python Lib with the Ticker name of TSLA, BND AND SPY

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/10 A KAI 2/week11/Time_Series_Forecasting_for_Portfolio_Management')

In [2]:
from script.Data_Extract import FinancialDataAnalysis

In [3]:
# Example usage:
tickers = ["TSLA", "BND", "SPY"]
start_date = "2015-01-01"
end_date = "2024-10-31"

In [4]:

analysis = FinancialDataAnalysis(tickers, start_date, end_date)

In [5]:
analysis.download_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Data downloaded successfully!

In [6]:
analysis.save_to_merged_file()

Data merged and saved to financial_data/merged_financial_data.csv

In [7]:
pd.read_csv('./financial_data/merged_financial_data.csv')

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2015-01-02 00:00:00+00:00,14.620667,14.620667,14.883333,14.217333,14.858000,71466000,TSLA
1,2015-01-05 00:00:00+00:00,14.006000,14.006000,14.433333,13.810667,14.303333,80527500,TSLA
2,2015-01-06 00:00:00+00:00,14.085333,14.085333,14.280000,13.614000,14.004000,93928500,TSLA
3,2015-01-07 00:00:00+00:00,14.063333,14.063333,14.318667,13.985333,14.223333,44526000,TSLA
4,2015-01-08 00:00:00+00:00,14.041333,14.041333,14.253333,14.000667,14.187333,51637500,TSLA
...,...,...,...,...,...,...,...,...
7417,2024-10-24 00:00:00+00:00,579.239990,579.239990,580.059998,576.570007,579.979980,34979900,SPY
7418,2024-10-25 00:00:00+00:00,579.039978,579.039978,584.460022,578.080017,581.510010,47268200,SPY
7419,2024-10-28 00:00:00+00:00,580.830017,580.830017,582.710022,580.520020,582.580017,30174700,SPY
7420,2024-10-29 00:00:00+00:00,581.770020,581.770020,582.909973,578.429993,579.849976,42899700,SPY
7421,2024-10-30 00:00:00+00:00,580.010010,580.010010,583.320007,579.289978,581.289978,41435800,SPY