### Extract and save the Data using Yfinanace python Lib with the Ticker name of TSLA, BND AND SPY

In [ ]:
import pandas as pd
import sys
sys.path.insert(0, '/10 A KAI 2/week11/Time_Series_Forecasting_for_Portfolio_Management')

In [2]:
from script.Data_Extract import FinancialDataAnalysis

In [3]:
# Example usage:
tickers = ["TSLA", "BND", "SPY"]
start_date = "2015-01-01"
end_date = "2024-10-31"

In [4]:

analysis = FinancialDataAnalysis(tickers, start_date, end_date)

In [5]:
analysis.download_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Data downloaded successfully!

In [6]:
analysis.save_to_files()

Data saved to directory: financial_data

In [7]:
pd.read_csv('./financial_data/BND.csv')

,Date,Adj Close,Close,High,Low,Open,Volume
0,2015-01-02 00:00:00+00:00,63.358765,82.650002,82.690002,82.419998,82.430000,2218800
1,2015-01-05 00:00:00+00:00,63.542732,82.889999,82.919998,82.699997,82.739998,5820100
2,2015-01-06 00:00:00+00:00,63.726730,83.129997,83.379997,83.029999,83.029999,3887600
3,2015-01-07 00:00:00+00:00,63.765057,83.180000,83.279999,83.050003,83.139999,2433400
4,2015-01-08 00:00:00+00:00,63.665413,83.050003,83.110001,82.970001,83.110001,1873400
...,...,...,...,...,...,...,...
2469,2024-10-24 00:00:00+00:00,73.081184,73.309998,73.440002,73.169998,73.279999,6219500
2470,2024-10-25 00:00:00+00:00,72.931664,73.160004,73.480003,73.129997,73.480003,4641400
2471,2024-10-28 00:00:00+00:00,72.841942,73.070000,73.279999,72.949997,73.239998,4582800
2472,2024-10-29 00:00:00+00:00,72.901749,73.129997,73.139999,72.790001,72.900002,5543800
2473,2024-10-30 00:00:00+00:00,72.831970,73.059998,73.430000,73.019997,73.269997,4610300